#root {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
}

* {
    padding: 0;
    margin: 0;
}

.alert {
    position: absolute;
    left: 25%;
    top: 40px;
    width: 350px;
    height: 50px;
    padding: 0;
    font-size: 0.8rem;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 12px 20px -7px;
}

.center {
    position: absolute;
    top: 38%;
    left: 70%;
    transform: translate(-50%, -50%);
}

button {
    width: 100%;
    margin-top: 1%;
    padding: 10px;
    background-color: rgb(65, 65, 255);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: all 0.2s ease-in-out;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: rgb(14, 14, 134);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(1px);
    }
    25% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(1px);
    }
    75% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0);
    }
}

.builder-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    .header {
        font-size: 2.5rem;
        text-align: center;
        margin-block: 1rem;
    }

    .container {
        display: flex;
        gap: 12px;

        .template-container {
            width: 650px;
            margin-inline: 1%;

            // p:first-child {
            //     margin-top: 12px;
            // }

            p {
                margin-block-end: 15px;
            }
        }

        .shortcut-btn {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .input-container {
            width: 40rem;
            height: 80vh;

            textarea {
                background-color: #001d3373;
                color: white;
                border: 1px solid white;
                border-radius: 5px;
                resize: none;
                width: 100%;
                height: 100%;
            }

            textarea:focus-visible {
                outline: 0;
            }
        }
    }
}

.print-conatiner {
    margin: 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;

    .btn-group {
        margin-bottom: 2rem;
        button {
            display: flex;
            justify-items: center;
            align-items: center;
            width: fit-content;
            padding: 1rem 2rem;
        }
    }

    .a4-page {
        a {
            color: black;
            text-decoration: none;
        }

        table {
            padding-top: 1%;
        }

        table,
        td {
            font-size: 0.8rem;
            padding-right: 8px;
        }
        .summary,
        .skills,
        .experience,
        .project,
        .education,
        .certification {
            padding-bottom: 1%;
        }

        .summary {
            p {
                padding-top: 1%;
                font-size: 0.8rem;
            }
        }

        .education {
            .education-item {
                margin-bottom: 1%;
            }
        }

        .experience {
            .experience-item {
                padding-bottom: 1%;
            }
        }

        .pcl-wrapper {
            display: flex;

            div {
                width: 100%;

                .header {
                    padding-block: 1.5%;
                }
            }
            div:not(:first-child) {
                margin-left: 1.5%;
            }
            .body ul {
                margin-inline-start: 12px;
            }
        }
    }
}

.section {
    font-size: 0.8rem;
    .header {
        padding-block: 0.5%;
        border-top: 1px solid rgb(117, 117, 117);
        border-bottom: 0.5px solid rgb(117, 117, 117);

        h4 {
            padding-left: 2%;
        }
    }

    .body {
        padding-top: 1%;
        padding-inline: 4%;
        ul li {
            list-style-type: circle;
        }
    }
}

a {
    color: white;
}

.btn-container {
    position: absolute;
    top: 20px;
    left: 20px;
}
